@use "./mixins" as *;

main .wrapper .aboutInfo {
    margin: 0;
    padding: 5px 20px;
    font-family: 'Golos Text', sans-serif;
    min-height: 100vh;
   
    &::before {
        @include htmlStyle("<section>");
    }
    &::after {
        @include htmlStyle("</section>");
    }
    
    .lgHeading {
        margin: 0;
        padding-top: 5px;
        font-weight: normal;  

        .textSecondary {
            color: $dmTextGreen;
        }

        // &::before {
        //     @include htmlStyle("<h2>");
        // }
        // &::after {
        //     @include htmlStyle("</h2>");
        // }
    }

    .smHeading {
        margin: 0;
        font-weight: 500;   
        background: rgba(255, 255, 255, 0.010); 
        color:$dmSmallHeading;      
    }

    .flexContainer {
        display: flex;
        margin-bottom: 20px;
        align-items: center;

        .personalCard {
            min-width: 300px;
            height: fit-content;
            border-radius: 10px;
            border: 1px solid black;
            background-color: #1A203B;
            margin: 20px 10px;
            padding-top: 10px;
            overflow: hidden;
            box-shadow: 2px 10px 30px black;
    
            .bioImageContainer {
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                width: 200px;
                height: 200px;
                border: 3px solid $dmSmallHeading;
            }
    
            .personalInfo {
                font-size: 0.7rem; 
    
                .introduction {
                    color: #999;
                    border-top: 1px dashed rgba(255, 255, 255, 0.199);
                    padding: 10px 0 0 5px;
                    margin: 10px 10px 5px 10px;

                }
    
                .details {
                    color: #e42dad;
                    font-weight: bold;
                    padding: 10px;
                    margin: 0 10px 10px 10px;
                    background-color: #0e1222;
                    border-radius: 10px;
    
                    .const {
                        color: $dmTextGreen;
                        font-weight: normal;
                        
                    }
                    .key {
                        color: $dmSmallHeading;
                        margin-left: 10px;
                        font-weight: normal;
                    }
                    .value {
                        color: rgb(221, 221, 221);
                        font-weight: normal;
                    }
                }
    
                .bottomBar {
                    margin: 0;
                    background-color: $dmTextGreen;
                    padding: 10px;                
                }
            }            
        }

        .bio {
            .textSecondary {
                display: inline-block;
                font-weight: bold;
                // margin: 0 0 0 20px;
                // color: $lmPink;
                color: $dmTextGreen;
            }

            .aboutParagraph {
                p {
                    margin: 10px;

                    &:nth-child(even) {
                        color: white;
                    }
                }               

                // &::before {
                //     @include htmlStyle("<p>");
                // }
                // &::after {
                //     @include htmlStyle("</p>");
                // }                
            }
        }
    }

    /* Bento box */
    .about-grid {
        display: grid;
        grid-template-areas: 
            'box-picture box-content box-content box-content box-content'
            'box-details box-content box-content box-content box-content'
            'box-details box-content box-content box-content box-content'
            'box-details box-content box-content box-content box-content'
            'box-details box-skills box-skills box-skills box-skills';
        gap: 10px;
        width: 100%;
        padding: 20px 0;
    
        .bento-box {
            border: 1px solid #333;
            border-radius: 20px;
            background-color: #1e1e1e;
            padding: 20px;
        }

        .box1 {
            grid-area: box-picture;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            .img-wrapper {
                background-color: #ff6f61;
                border-radius: 10px;
                transform: perspective(400px) rotate(10deg);
                margin-top: 20px;

                img {
                    border: 1px solid #333;
                    border-radius: 10px;
                    width: 200px;
                    transform: perspective(400px) rotate(-10deg);
                }
            }
        }

        .box2 { 
            grid-area: box-details;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            .about-details a {
                color: #fff;
                text-decoration: underline;
                transition: 0.3s;

                &:hover {
                    color: #ff6f61;
                    margin-left: 5px;
                    transition: 0.3s;
                }
            }
        }

        .box3 { 
            grid-area: box-content;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 1.2rem;
                font-weight: 500;
                color: $dmTextGreen;
            }

            p {
                width: 100%;
            }
        }
    
        .box6 {
            grid-area: box-skills;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row; 
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-evenly;
            gap: 20px;
            align-items: center;

            img.bg-white {
                background-color: #fff;
            }

            img {
                max-width: 100px;
                height: auto;
            }
        }
    }    
}
