@use "./mixins" as *;

header {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;    
    
    .sideBar {
        background-color: #0e1222;
        // border: 1px solid red;
        min-width: 180px;
        height: 100%;
        position: fixed;
        padding-top: 10px;
        justify-items: center;

        .logo {
            width: 100%;
            height: 20%;
            // border: 1px solid green;
            margin-bottom: 150px;
            text-align: center;

            .active {                    
                span {
                    color:#08FDD8;
                    @include hoverButton();
                }
            }
        }

        ul {               
            width: 100%;    
            margin-bottom: 20px;

            li {               
                border-top: 1px solid #b0c8dd4d;
                // padding: 10px 5px;
                width: 100%;
     
                &:last-child {
                    border-bottom: 1px solid #b0c8dd4d;
                }
                
                a {                  
                    display: inline-block;  
                    color: #B0C8DD;
                    width: 100%;
                    height: 100%;
                    padding: 10px 0;
                    text-align: center;

                    &:hover {
                        @include hoverButton();
                    }

                    .arrow {
                        text-align: right;
                        float: right;
                    }
                }         
                
                .active {                    
                    span {
                        color:#08FDD8;
                        @include hoverButton();
                    }
                }
            }
        }

        .icons {
            text-align: center;

            a {
                color: #B0C8DD;
                margin: 5px;

                &:hover {
                    @include hoverButton();
                }
            }            
        }
    }
}

main {    
    .home {        
        p {
            margin: 5px;
            padding: 5px;            
            // line-height: 10px;            

            .textHTML::before {
                @include htmlStyle("<html>");
                margin: 0;
                padding: 0;
                position: relative;
                left: -10px;
            }
            .textBody::before {                
                @include htmlStyle("<body>");
                margin: 0;
                padding: 0 0 0 10px;
            }
        }        
            
        .homeContent {
            margin-top: 200px;
            width: 100%;
            height: 100vh;
            padding: 0 20px;
           
            .text {
                font-family: "Golos Text", sans-serif;

                &::before {
                    @include htmlStyle("<h1>");
                }
                &::after {
                    @include htmlStyle("</h1>");
                } 

                .lgHeading {
                    margin: 0;
                    padding-top: 5px;
                    font-weight: normal;
                    font-size: 3.5rem;  

                    p {
                        color: #08FDD8;
                        margin: 0;       
                        line-height: 40px;             

                        span {
                            color: #B0C8DD;                        
                        }
                    }

                    .letter {
                        display: inline-block;
                        font-weight: bold;
                        margin-right: -15px;
                        // cursor: pointer;
                    }

                    .textSecondary {
                        display: inline-block;
                        font-weight: bold;
                        margin-left: 20px;
                        color: $text-pink;
                    }
                }
            }

            .styleHTML {                
                &::before {
                    @include htmlStyle("<p>");
                }
                &::after {
                    @include htmlStyle("</p>");
                }

                .smHeading {
                    margin: 0;
                    font-weight: 500;   
                    background: rgba(255, 255, 255, 0.010); 
                    font-size: 2rem; 
                    color:#72D8FE;    
                    font-family: "Golos Text";            
    
                    .homeSkills {
                        font-size: 15px;
                        color: #B0C8DD;  
                        margin: 0;
                    }
                }
            }            
        }
    }    
}

/* Landscape phone to portrait tablet */
@media (max-width: 940px) {
    .wrapper {
        margin: 0;
    }

    header {
        .menuBtn {
            background-color: #0e122259;
            padding: 10px 5px 5px 5px;
            border-radius: 5px;
            position: fixed;
            z-index: 3;
            right: 20px;
            top: 35px;
            cursor: pointer;
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;

            .btnLine {
                width: 23px;
                height: 2px;
                margin: 0 0 5px 0;
                background: #72D8FE;
                -webkit-transition: all 0.5s ease-out;
                transition: all 0.5s ease-out;
            }
        }

        .menuBtn.close {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);

            .btnLine {
                &:nth-child(1) {
                    background: #ff0000;
                    -webkit-transform: rotate(45deg) translate(5px, 5px);
                    transform: rotate(45deg) translate(5px, 5px);
                    width: 20px;
                }
                &:nth-child(2) {
                    visibility: hidden;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    background: #ff0000;
                    width: 20px;
                }
                &:nth-child(3) {
                    background: #ff0000;
                    -webkit-transform: rotate(-45deg) translate(5px, -5px);
                    transform: rotate(-45deg) translate(5px, -5px);
                    width: 20px;
                }
            }
        }

        .sideBar {
            width: 100%;
            height: auto;
            position: fixed;
            top: 0; 
            visibility: hidden;

            .logo {
                margin: 0;
            }

            .icons {
                margin-bottom: 20px;
            }
        }       

        .sideBar.show {
            visibility: visible;
        }
    }

    footer {
        p {
            .textBody::before {
                @include htmlStyle("</body>");
                margin: 0 0 0 20px;
                padding: 0;        
            }
        
            .textHTML::before {        
                @include htmlStyle("</html>");
                margin: 0;
                padding: 0;        
            }
        }        
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    main {
        .aboutInfo {

            .flexContainer {
                display: flex;
                flex-direction: column;
            }
        }
    }

}

/* Landscape phones and down */
@media (max-width: 480px) {
    main { 
        .home .homeContent .text .lgHeading {
            .letter {
                margin-top: 10px;
            }
            .textSecondary {
                margin: 0;
            }        
        }       
        
        .wrapper .aboutInfo {
            h3.smHeading {
                font-size: 1rem;
            }            
        }
    }
}

