@use "./mixins" as * ;

body.light {
    background-color: #EBEBD3;
    header {
        .sideBar {
            background-color: $lmDarkBlue;

            .logo .switchText {
                color: white;
            }
        }
    }

    main {
        color: black;

        #home {
            p .textHTML::before, p .textBody::before {
                color: $lmHTML;
            } 
    
            .homeContent {            
                .text {
                    &::before, &::after {
                        color: $lmHTML;
                    }
    
                    .lgHeading {
                        p {
                            color: $lmPurple;

                            span {
                                color: $lmBlue;
                            }
                        }
        
                        .letter {
                            color: $lmBlue;
                        }
        
                        .letter.textSecondary { 
                            color: $lmPink;
                        }
                    }
                }
                
    
                .styleHTML {
                    &::before , &::after {
                        color: $lmHTML;
                    }
                    .smHeading {
                        color: #2F9C95;
                    }
    
                    .homeSkills {
                        color: #868586;
                    }
                }
            }
        }

        // About
        .wrapper .aboutInfo {
            &::before, &::after {
                color: $lmHTML;
            }

            .lgHeading {
                color: $lmBlue;

                .textSecondary {
                    color: $lmPink;
                }

                &::before, &::after {
                    color: $lmHTML;
                }
            }

            .flexContainer {
                .personalCard {
                    background-color: $lmDarkBlue;
                }

                .bio {
                    .textSecondary {
                        color: $lmPurple;
                    }

                    .aboutParagraph {
                        &::before, &::after {
                            color: $lmHTML;
                        }

                        p {
                            &:nth-child(even) {
                                color: #023770;
                            }
                        }                        
                    }
                } 
            }

            // New Style 
            .about-grid {
                .bento-box {
                    border: 1px solid #d1d1bd;
                    background-color: #ebebe0;
                }

                .box3 h3 {
                    color: #000;
                    font-weight: 500;
                }

                .box2 .about-details {
                    h3 {
                        font-weight: 600;
                    }

                    a {
                        color: #ff6f61;
                        font-weight: 500;                        
                    }

                }
            }

            .lgHeading {
                color: #000;
                font-weight: 500;

                .textSecondary {
                    color: #ff6f61;
                }
            }
        }

        // My works 
        .wrapper .myWorks {
            &::before, &::after {
                color: $lmHTML;
            }

            

            .lgHeading {
                color: #000;
                font-weight: 500 !important;

                &::before, &::after {
                    color: $lmHTML;
                }

                .textSecondary {
                    color: #ff6f61;
                    font-weight: 500 !important;
                }
            }

            .smHeading {
                color: $lmPurple;
            }

            .mainProjects .projectContainer {
                background-color: #EBEBD3;

                &::before {
                    background-color: rgb(249, 252, 255);
                }

                &:hover {
                    color: black;
                }

                &:nth-child(even) {
                    &::before {
                        background-color: $lmDarkBlue;
                    }

                    &:hover {
                        color: $dmTextBlue;
                    }
                }

                .projectFlex {
                    .projectDescription {
                        h2 {
                            color: $lmBlue;
                        }

                        .skills {
                            color: #868586;
                        }

                        .projectButtons {
                            a {
                                background-color: black;

                                &:hover {
                                    color: $dmSmallHeading;
                                }
                            }
                        }
                    }
                }
            }

            // New Design
            .myworks-wrapper .myworks-card {
                .myworks-card-inner {
                    background: #fff;
                    border: 1px solid #ddd;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

                    .card-front .card-footer {
                        .skill-wrapper .work-skill {
                            background: #ff6f61;
                            color: #fff;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                            border: none;
                        }

                        .work-links a {
                            background-color: #EBEBD3;
                            border: 1px solid rgba(0, 0, 0, 0.1);;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                            color: #333;
                            font-weight: 400;

                            &:hover {
                                color:#ff6f61;
                            }
                        }
                    }
                    
                    .card-back {
                        background-color: #fff;

                        h2, h3 {
                            color: #ff6f61;
                        }

                        .back-button a {
                            background-color: #EBEBD3;
                            border: 1px solid rgba(0, 0, 0, 0.1);;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                            color: #333;
                            font-weight: 400;

                            &:hover {
                                color:#ff6f61;
                            }
                        }
                    }
                }
            }

            .other-works .portfolio-gallery .portfolio-item .portfolio-details { 
                background-color: #EBEBD3;
                box-shadow: 0px 6px 71px 83px #EBEBD3;      
            }
        }

        // Contact
        .wrapper #contact {
            &::before, &::after {
                color: $lmHTML;
            }

            h1 {
                &::before, &::after {
                    color: $lmHTML;
                }
            }

            .contactContainer .contactForm {
                &::before, &::after {
                    color: $lmHTML;
                }

                .flexForm button {
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #000;
                    }
                }                
            }

            .lgHeading {
                font-weight: 500;

                .textSecondary {
                    color: #ff6f61;
                }
            }

            .contactContainer .contactForm .flexForm p {
                color: #ff0000;
            }
        }
    }

    .wrapper #contact {
        h1 {
            color: $lmBlue;

            span {
                color: $lmPink;
            }
        }

        .contactContainer .contactForm {
            background-color: $lmDarkBlue;

            .flexForm {
                button {
                    background-color: $lmDarkBlue;
                }
            }
        }
    }

    footer {
        .textBody::before {
            color: $lmHTML;
        } 

        p .textHTML::before {
            color: $lmHTML;
        }

        .wrapper p {
            color: #000;
        }
    }
}