@use "./mixins" as * ;

/* My works card buttons tweak */
@media (max-width: 1025px) {
    main .wrapper #works .mainProjects {
        .projectContainer .projectFlex .projectDescription {
            .projectButtons {
                display: flex;
                flex-direction: column;
                a {  
                    margin: 5px;
                    text-align: center;
                }
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 1000px) {
    main .wrapper {
        margin: 0;

        .aboutInfo {
            .about-grid {
                display: grid;
                grid-template-areas: 
                    'box-picture box-picture box-details box-details box-details'
                    'box-picture box-picture box-details box-details box-details'
                    'box-content box-content box-content box-content box-content'
                    'box-content box-content box-content box-content box-content'
                    'box-skills box-skills box-skills box-skills box-skills';
                gap: 10px;
            }
        }
    }

    header {
        .menuBtn {
            background-color: #0c0c0c;
            padding: 10px 5px 5px 5px;
            border-radius: 5px;
            position: fixed;
            z-index: 3;
            right: 20px;
            top: 35px;
            cursor: pointer;
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;

            .btnLine {
                width: 23px;
                height: 2px;
                margin: 0 0 5px 0;
                background: $dmTextGreen;
                -webkit-transition: all 0.5s ease-out;
                transition: all 0.5s ease-out;
            }
        }

        .menuBtn.close {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            z-index: 20;

            .btnLine {
                &:nth-child(1) {
                    background: #ff0000;
                    -webkit-transform: rotate(45deg) translate(5px, 5px);
                    transform: rotate(45deg) translate(5px, 5px);
                    width: 20px;
                }
                &:nth-child(2) {
                    visibility: hidden;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    background: #ff0000;
                    width: 20px;
                }
                &:nth-child(3) {
                    background: #ff0000;
                    -webkit-transform: rotate(-45deg) translate(5px, -5px);
                    transform: rotate(-45deg) translate(5px, -5px);
                    width: 20px;
                }
            }
        }

        .menuBtn.light {
            background-color: rgba(255, 255, 255, 0.322);
            .btnLine {
                background-color: black;
            }
        }

        .menuBtn.light.close {
            background-color: transparent;
        }

        .sideBar {
            width: 100%;
            height: auto;
            position: fixed;
            top: 0; 
            visibility: hidden;
            transition: 0.2s;

            .logo {
                margin: 0;
            }

            .icons {
                margin-bottom: 20px;

                a {
                    margin: 0 10px;
                }
            }
        }       

        .sideBar.show {
            visibility: visible;
        }
    }

    footer {
        .wrapper {
            margin: 0;
        }

        p {
            .textBody::before {
                @include htmlStyle("</body>");
                margin: 0 0 0 20px;
                padding: 0;        
            }
        
            .textHTML::before {        
                @include htmlStyle("</html>");
                margin: 0;
                padding: 0;        
            }
        }        
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 845px) {
    main .wrapper #works .mainProjects {
        .projectContainer .projectFlex .projectDescription {
            .projectButtons {
                display: flex;
                flex-direction: column;
                a {  
                    margin: 5px;
                    text-align: center;
                }
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    main {
        .wrapper .aboutInfo {
            .flexContainer {
                display: flex;
                flex-direction: column;
            }
        }
    
        .wrapper #contact #contactContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90vh;

            .contactForm {
                width: 90%;            
                min-height: 55vh;
                padding: 10px 20px; 
                margin-top: 20px;
                
                &::before {                
                    position: relative;
                    top: -40px;          
                }
                &::after {               
                    position: relative;
                    top: 250px;
                }

                .flexForm {
                    width: 100%;

                    input, button, textarea {
                        width: 100%;
                    }
                }
            }

            .personalLinks {
                background-color: #FCA311;
                width: 80%;
                height: 40%;
                position: relative;
                right: 0;
                top: -40px;      
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 680px) {
    main { 
        .home .homeContent {
            margin-top: 80px;

            .text .lgHeading {
                p {
                    line-height: 70px;
                }
                .letter {
                    margin-top: 10px;
                }
                .textSecondary {
                    margin: 0;
                }        
            }   
        }             
        
        .wrapper .aboutInfo {
            .about-grid {
                display: grid;
                grid-template-areas: 
                    'box-picture box-picture box-picture box-picture box-picture'
                    'box-details box-details box-details box-details box-details'
                    'box-content box-content box-content box-content box-content'
                    'box-content box-content box-content box-content box-content'
                    'box-skills box-skills box-skills box-skills box-skills';
                gap: 10px;
            }

            h3.smHeading {
                font-size: 1rem;
            }            
        }

        // My work section cards to mobile
        .wrapper #works .mainProjects {
            .projectContainer {
                height: 90dvh;
                text-align: center;
        
                &::before {
                    content: "";
                    position: absolute; 
                    top: calc(90dvh - 20px);
                    right: 0;
                    background: #686868;
                    height: 25px;
                    width: 100%;
                }
        
                &:hover {
                    color: #fff;
        
                    .projectFlex {                           
                        .projectDescription {
                            h2 {
                                color: $dmTextGreen;
                                font-weight: bold;
                                transition-delay: 0.6s;  
                            }
            
                            .skills {
                                color: #000;
                                transition-delay: 0.6s;
                            }
            
                            .projectButtons a {
                                visibility: visible;
                            }
                        }
                    }
        
                    &::before {
                        transition-delay: 0.2s;          
                        transform: scale(100);
                    }
                }
        
                &:nth-child(even) {        
                    &::before {
                        content: "";
                        position: absolute;
                        top: calc(90dvh - 20px);
                        left: 0;                   
                        height: 25px;
                        width: 100%;                        
                        background: rgb(0, 105, 146);
                        transform: scale(1);
                        transform-origin: 50% 50%;
                        transition: transform 0.25s ease-out;
                    }
        
                    &:hover {
                        .projectFlex .projectDescription  {
                            h2 {
                                color:$dmTextGreen;
                            }
        
                            .skills {
                                color: #000;
                            }
        
                            .projectButtons a:hover {
                                color: $dmTextGreen;        
                            }
                        }
                        &::before {
                            transition-delay: 0.2s;          
                            transform: scale(100);
                        }
                    }
        
                    .projectFlex {
                        display: flex;
                        flex-direction: column;
                    }                
                }
        
                .projectFlex {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
       
                    .imgContainer {                          
                        max-width: 80%;
                        min-width: 80%;
                        border-radius: 10px;
                        overflow: hidden;
                        // height: fit-content;
                        // box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.596);
                    }
        
                    .projectDescription {
                        margin: 0; 
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        overflow: hidden;
                        padding-bottom: 20px;
                        font-size: 0.8rem;
        
                        h2 {
                            margin: 20px 0;
                        }
                        
                        p {
                            padding: 0 10px;
                            margin: 0;
                        }
        
                        .skills {
                            font-size: 0.8rem;
                            // color: White;
                            margin: 0;
                        }
        
                        .projectButtons {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            padding: 0;
                            margin: 0;

                            a {
                                background-color: #1A203B;
                                margin: 5px;
                                padding: 5px 10px;
                                border-radius: 10px;
                                color: whitesmoke;   
                                visibility: visible;
                                transition-delay: 0ms;
                                font-size: 0.8rem;
                                text-align: center;
        
                                &:hover {  
                                    color: $dmSmallHeading;
                                    background-color: black;
                                    transition-delay: 0ms;   
                                }
                            }        
                        }
                    }
                }        
            }
        }

        // Contact section cards to mobile
        .wrapper #contact {
            height: fit-content;
            font-size: 0.8rem;

            #contactContainer {    
                margin-bottom: 30px;

                .contactForm {  
                    padding-bottom: 50px;

                    &::after {               
                        position: relative;
                        top: 255px;
                    }    
                }
        
                .personalLinks {
                    position: relative;
                    top: -30px;  
                    margin-bottom: 20px;    
                }
            }
        }
    }

    footer {
        .wrapper p {
            font-size: 0.7rem;
        }
    }
}
