//Dark mode colors
$dmTextGreen: #08FDD8;
$dmTextBlue: #B0C8DD;
$dmSmallHeading: #72D8FE;
$dmDarkBlue: #0e1222;

//Light mode colors
$lmPurple: #7760fa;
$lmPink: #ff5f5f;
$lmBlue: #2876f8;
$lmDarkBlue: #083D77;
$lmHTML: rgba(0, 0, 0, 0.13);

// Mixin for the html tag showing on the page
@mixin htmlStyle($text) {
    content: $text;
    font-family: 'Mr Dafoe', cursive;
    font-size: 1rem;
    font-weight: normal;
    color: #b0c8dd38;  
}

@keyframes textFlicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
@mixin hoverButton {
    color: $dmTextGreen;
    text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
    animation: textFlicker 3s linear infinite;
}

@keyframes buttonLoad {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}
