@use "./mixins" as * ;

main .wrapper .myWorks {
    margin: 20px 0;
    padding: 5px 20px;
    font-family: 'Golos Text', sans-serif;

    &::before {
        @include htmlStyle("<section>");
    }
    &::after {
        @include htmlStyle("</section>");
    }

    .lgHeading {
        font-weight: normal;
        
        .textSecondary {
            color: $dmTextGreen;
        }

        &::before {
            @include htmlStyle("<h1>");            
        }
        &::after {
            @include htmlStyle("</h1");
        }
    }

    .smHeading {
        color: $dmSmallHeading;
    }

    .mainProjects {
        .projectContainer {
            margin: 20px 0 40px 0;
            padding: 10px;
            border-radius: 10px;
            background-color: #11162B;
            position: relative;
            z-index: 0;
            overflow: hidden;
            transition: 0.6s ease-in;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                right: -15px;
                background: #686868;
                height: 100%;
                width: 30px;
                transform: scale(1);
                transform-origin: 50% 50%;
                transition: transform 0.25s ease-out;
            }

            &:hover {
                color: #fff;

                .projectFlex .projectDescription {
                    h2 {
                        color: $dmSmallHeading;
                        font-weight: bold;
                        transition-delay: 0.6s;  
                    }

                    .skills {
                        color: #000;
                        transition-delay: 0.6s;
                        transition: transform 0.25s ease-out;
                    }

                    .projectButtons a {
                        visibility: visible;
                    }
                }

                &::before {
                    transition-delay: 0.2s;          
                    transform: scale(60);
                }
            }

            &:nth-child(even) {
                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: -15px;
                    background-color: rgb(0, 105, 146);
                    height: 100%;
                    width: 30px;
                    transform: scale(1);
                    transform-origin: 50% 50%;
                    transition: transform 0.25s ease-out;
                }

                &:hover {
                    .projectFlex .projectDescription  {
                        h2 {
                            color:$dmTextGreen;
                        }

                        p {
                            color: white;
                        }

                        .skills {
                            color: #ffffff98;
                        }

                        .projectButtons a:hover {
                            color: $dmTextGreen;

                        }
                    }
                    &::before {
                        transition-delay: 0.2s;          
                        transform: scale(60);
                    }
                }

                .projectFlex {
                    display: flex;
                    flex-direction: row-reverse;

                    .imgContainer {
                        box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.596);
                    }

                    .projectDescription .projectButtons a {
                        float: left;
                    }
                }                
            }

            .projectFlex {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                .imgContainer {
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.596);
                    min-width: 400px;
                    max-width: 400px;
                    height: auto;
                }

                .projectDescription {
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h2 {
                        color: $dmTextGreen;
                    }
                    
                    p {
                        padding: 0 10px;
                    }

                    .skills {
                        font-size: 0.8rem;
                        color: White;
                    }

                    .projectButtons {
                        a {
                            background-color: #1A203B;
                            margin: 0 10px;
                            padding: 2px 30px;
                            border-radius: 10px;
                            color: whitesmoke;
                            float: right;
                            visibility: hidden;
                            transition-delay: 0ms;

                            &:hover {
                                color: $dmSmallHeading;
                                background-color: black;
                                transition-delay: 0ms;   
                            }
                        }        
                    }
                }
            }
        }
    }
}
