html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** GLOBAL STYLES *** */
html {
  font-size: 125%;
  background-color: #11162B;
  color: #B0C8DD;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1100px;
  padding: 0;
  margin-left: 180px;
}

@-webkit-keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
header {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
header .sideBar {
  background-color: #0e1222;
  min-width: 180px;
  height: 100%;
  position: fixed;
  padding-top: 10px;
  justify-items: center;
}
header .sideBar .logo {
  width: 100%;
  height: 20%;
  margin-bottom: 150px;
  text-align: center;
}
header .sideBar .logo .active span {
  color: #08FDD8;
  color: #08FDD8;
  text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}
header .sideBar ul {
  width: 100%;
  margin-bottom: 20px;
}
header .sideBar ul li {
  border-top: 1px solid rgba(176, 200, 221, 0.3019607843);
  width: 100%;
}
header .sideBar ul li:last-child {
  border-bottom: 1px solid rgba(176, 200, 221, 0.3019607843);
}
header .sideBar ul li a {
  display: inline-block;
  color: #B0C8DD;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-align: center;
}
header .sideBar ul li a:hover {
  color: #08FDD8;
  text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}
header .sideBar ul li a .arrow {
  text-align: right;
  float: right;
}
header .sideBar ul li .active span {
  color: #08FDD8;
  color: #08FDD8;
  text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}
header .sideBar .icons {
  text-align: center;
}
header .sideBar .icons a {
  color: #B0C8DD;
  margin: 5px;
}
header .sideBar .icons a:hover {
  color: #08FDD8;
  text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}

main .home p {
  margin: 5px;
  padding: 5px;
}
main .home p .textHTML::before {
  content: "<html>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  color: rgba(176, 200, 221, 0.2196078431);
  margin: 0;
  padding: 0;
  position: relative;
  left: -10px;
}
main .home p .textBody::before {
  content: "<body>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  color: rgba(176, 200, 221, 0.2196078431);
  margin: 0;
  padding: 0 0 0 10px;
}
main .home .homeContent {
  margin-top: 200px;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
}
main .home .homeContent .text {
  font-family: "Golos Text", sans-serif;
}
main .home .homeContent .text::before {
  content: "<h1>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .home .homeContent .text::after {
  content: "</h1>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .home .homeContent .text .lgHeading {
  margin: 0;
  padding-top: 5px;
  font-weight: normal;
  font-size: 3.5rem;
}
main .home .homeContent .text .lgHeading p {
  color: #08FDD8;
  margin: 0;
  line-height: 40px;
}
main .home .homeContent .text .lgHeading p span {
  color: #B0C8DD;
}
main .home .homeContent .text .lgHeading .letter {
  display: inline-block;
  font-weight: bold;
  margin-right: -15px;
}
main .home .homeContent .text .lgHeading .textSecondary {
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
  color: #ff5f5f;
}
main .home .homeContent .styleHTML::before {
  content: "<p>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .home .homeContent .styleHTML::after {
  content: "</p>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .home .homeContent .styleHTML .smHeading {
  margin: 0;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.01);
  font-size: 2rem;
  color: #72D8FE;
  font-family: "Golos Text";
}
main .home .homeContent .styleHTML .smHeading .homeSkills {
  font-size: 15px;
  color: #B0C8DD;
  margin: 0;
}

/* Landscape phone to portrait tablet */
@media (max-width: 940px) {
  .wrapper {
    margin: 0;
  }
  header .menuBtn {
    background-color: rgba(14, 18, 34, 0.3490196078);
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
    position: fixed;
    z-index: 3;
    right: 20px;
    top: 35px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  header .menuBtn .btnLine {
    width: 23px;
    height: 2px;
    margin: 0 0 5px 0;
    background: #72D8FE;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  header .menuBtn.close {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  header .menuBtn.close .btnLine:nth-child(1) {
    background: #ff0000;
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
    width: 20px;
  }
  header .menuBtn.close .btnLine:nth-child(2) {
    visibility: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #ff0000;
    width: 20px;
  }
  header .menuBtn.close .btnLine:nth-child(3) {
    background: #ff0000;
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
    width: 20px;
  }
  header .sideBar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
  }
  header .sideBar .logo {
    margin: 0;
  }
  header .sideBar .icons {
    margin-bottom: 20px;
  }
  header .sideBar.show {
    visibility: visible;
  }
  footer p .textBody::before {
    content: "</body>";
    font-family: "Mr Dafoe", cursive;
    font-size: 1rem;
    color: rgba(176, 200, 221, 0.2196078431);
    margin: 0 0 0 20px;
    padding: 0;
  }
  footer p .textHTML::before {
    content: "</html>";
    font-family: "Mr Dafoe", cursive;
    font-size: 1rem;
    color: rgba(176, 200, 221, 0.2196078431);
    margin: 0;
    padding: 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  main .aboutInfo .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  main .home .homeContent .text .lgHeading .letter {
    margin-top: 10px;
  }
  main .home .homeContent .text .lgHeading .textSecondary {
    margin: 0;
  }
  main .wrapper .aboutInfo h3.smHeading {
    font-size: 1rem;
  }
}
/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 */
/* rubberBand animation */
@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

main .wrapper .aboutInfo {
  margin: 0;
  padding: 0 20px;
  font-family: "Golos Text", sans-serif;
  border: 1px solid orangered;
}
main .wrapper .aboutInfo .lgHeading {
  margin: 0;
  padding-top: 5px;
  font-weight: normal;
  font-size: 3.5rem;
}
main .wrapper .aboutInfo .lgHeading .textSecondary {
  color: #08FDD8;
}
main .wrapper .aboutInfo .smHeading {
  margin: 0;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.01);
  font-size: 2rem;
  color: #72D8FE;
}
main .wrapper .aboutInfo .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .wrapper .aboutInfo .flexContainer .personalCard {
  min-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #1A203B;
  margin: 10px;
  overflow: hidden;
  -webkit-box-shadow: 2px 10px 30px black;
          box-shadow: 2px 10px 30px black;
}
main .wrapper .aboutInfo .flexContainer .personalCard .bioImageContainer {
  overflow: hidden;
  width: 100%;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo {
  font-size: 0.7rem;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .introduction {
  color: #999;
  border-top: 1px dashed rgba(255, 255, 255, 0.363);
  padding: 10px 0 0 5px;
  margin: 10px 0 5px 0;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .details {
  color: #e42dad;
  font-weight: bold;
  padding: 0 10px 10px 10px;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .details .const {
  color: #08FDD8;
  font-weight: normal;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .details .key {
  color: #72D8FE;
  margin-left: 10px;
  font-weight: normal;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .details .value {
  color: rgb(221, 221, 221);
  font-weight: normal;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: #B0C8DD;
  padding: 10px;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .buttons button {
  width: 100%;
  margin: 5px 0;
  height: 30px;
  border: 0;
  background-color: #0e1222;
  color: #B0C8DD;
  cursor: pointer;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .buttons button:hover {
  color: #08FDD8;
  background-color: black;
}
main .wrapper .aboutInfo .flexContainer .bio .textSecondary {
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
  color: #ff5f5f;
}
main .wrapper .aboutInfo .flexContainer .bio p {
  margin: 10px;
}

main .wrapper .myWorks {
  margin: 20px 0;
  padding: 20px;
  font-family: "Golos Text", sans-serif;
  border: 1px solid yellow;
}
main .wrapper .myWorks .lgHeading .textSecondary {
  color: #08FDD8;
}
main .wrapper .myWorks .smHeading {
  color: #72D8FE;
}
main .wrapper .myWorks .mainProjects .projectContainer {
  border: 1px solid green;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #1A203B;
  position: relative;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}
main .wrapper .myWorks .mainProjects .projectContainer::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: -15px;
  background: whitesmoke;
  height: 100%;
  width: 25px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover {
  color: black;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover .projectFlex .projectDescription h2 {
  color: #1eb6ee;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover .projectFlex .projectDescription .skills {
  color: #686868;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover .projectFlex .projectDescription .projectButtons a {
  visibility: visible;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover::before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: scale(60);
          transform: scale(60);
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription h2 {
  color: #08FDD8;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription .skills {
  font-size: 0.8rem;
  color: White;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons a {
  background-color: #1A203B;
  margin: 0 10px;
  padding: 2px 30px;
  border-radius: 10px;
  color: whitesmoke;
  float: right;
  visibility: hidden;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons a:hover {
  color: #1eb6ee;
  background-color: black;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}
main .wrapper .myWorks .mainProjects #card {
  border-radius: 10px;
  -webkit-filter: drop-shadow(0 5px 10px 0 #ffffff);
          filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 400px;
  height: 180px;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}
main .wrapper .myWorks .mainProjects #card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #7952b3;
  height: 220px;
  width: 25px;
  border-radius: 32px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
main .wrapper .myWorks .mainProjects #card:hover::before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: scale(40);
          transform: scale(40);
}
main .wrapper .myWorks .mainProjects #card:hover {
  color: #ffffff;
}

main .wrapper #contact {
  height: 100vh;
}

footer {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 10px;
}
footer .textBody::before {
  content: "</body>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  color: rgba(176, 200, 221, 0.2196078431);
  margin: 0 0 0 200px;
  padding: 0;
}
footer .textHTML::before {
  content: "</html>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  color: rgba(176, 200, 221, 0.2196078431);
  margin: 0 0 0 180px;
  padding: 0;
}
footer .wrapper p {
  background-color: rgba(0, 0, 0, 0.13);
  font-family: "Golos Text", sans-serif;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}