html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** GLOBAL STYLES *** */
html {
  font-size: 125%;
  color: #B0C8DD;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
html body {
  background-color: #11162B;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1100px;
  padding: 0;
  margin-left: 180px;
}

@-webkit-keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
header {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
header .sideBar {
  background-color: #0e1222;
  min-width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
  padding-top: 10px;
  justify-items: center;
  z-index: 10;
}
header .sideBar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 20%;
  margin-bottom: 150px;
}
header .sideBar .logo .switch .switchCheck {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
header .sideBar .logo .switch .switchCheck:checked + .switchLabel {
  background-color: black;
  cursor: pointer;
}
header .sideBar .logo .switch .switchCheck:checked + .switchLabel .switchButton {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: rgb(85, 85, 85);
  cursor: pointer;
}
header .sideBar .logo .switch .switchLabel {
  background-color: rgb(0, 144, 180);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 26px;
  width: 50px;
  border-radius: 50px;
  padding: 2px;
  cursor: pointer;
}
header .sideBar .logo .switch .switchLabel .fa-moon {
  color: #f1c40f;
  cursor: pointer;
}
header .sideBar .logo .switch .switchLabel .fa-sun {
  color: orange;
  cursor: pointer;
}
header .sideBar .logo .switch .switchLabel .switchButton {
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
header .sideBar .logo .active span {
  color: #08FDD8;
  color: #08FDD8;
  text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}
header .sideBar ul {
  width: 100%;
  margin-bottom: 20px;
}
header .sideBar ul li {
  border-top: 1px solid rgba(176, 200, 221, 0.3019607843);
  padding-right: 2px;
  width: 100%;
}
header .sideBar ul li:last-child {
  border-bottom: 1px solid rgba(176, 200, 221, 0.3019607843);
}
header .sideBar ul li a {
  display: inline-block;
  color: #B0C8DD;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-align: center;
}
header .sideBar ul li a:hover {
  color: #08FDD8;
  text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}
header .sideBar ul li a .arrow {
  text-align: right;
  float: right;
}
header .sideBar ul li .active span {
  color: #08FDD8;
  color: #08FDD8;
  text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}
header .sideBar .icons {
  text-align: center;
}
header .sideBar .icons a {
  color: #B0C8DD;
  margin: 5px;
}
header .sideBar .icons a:hover {
  color: #08FDD8;
  text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}

main .home p {
  margin: 5px;
  padding: 5px;
}
main .home p .textHTML::before {
  content: "<html>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
  margin: 0;
  padding: 0;
  position: relative;
  left: -10px;
}
main .home p .textBody::before {
  content: "<body>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
  margin: 0;
  padding: 0 0 0 10px;
}
main .home .homeContent {
  margin-top: 200px;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
}
main .home .homeContent .text {
  font-family: "Golos Text", sans-serif;
}
main .home .homeContent .text::before {
  content: "<h1>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .home .homeContent .text::after {
  content: "</h1>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .home .homeContent .text .lgHeading {
  margin: 0;
  padding-top: 5px;
  font-weight: normal;
  font-size: 3.5rem;
}
main .home .homeContent .text .lgHeading p {
  color: #08FDD8;
  margin: 0;
  line-height: 40px;
}
main .home .homeContent .text .lgHeading p span {
  color: #B0C8DD;
}
main .home .homeContent .text .lgHeading .letter {
  display: inline-block;
  font-weight: bold;
  margin-right: -15px;
}
main .home .homeContent .text .lgHeading .textSecondary {
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
  color: #ff5f5f;
}
main .home .homeContent .styleHTML::before {
  content: "<p>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .home .homeContent .styleHTML::after {
  content: "</p>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .home .homeContent .styleHTML .smHeading {
  margin: 0;
  font-weight: 500;
  font-size: 2rem;
  color: #72D8FE;
  font-family: "Golos Text";
}
main .home .homeContent .styleHTML .smHeading .homeSkills {
  font-size: 15px;
  color: #B0C8DD;
  margin: 0;
}

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 */
/* rubberBand animation */
@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

main .wrapper .aboutInfo {
  margin: 0;
  padding: 5px 20px;
  font-family: "Golos Text", sans-serif;
  min-height: 100vh;
}
main .wrapper .aboutInfo::before {
  content: "<section>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper .aboutInfo::after {
  content: "</section>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper .aboutInfo .lgHeading {
  margin: 0;
  padding-top: 5px;
  font-weight: normal;
}
main .wrapper .aboutInfo .lgHeading .textSecondary {
  color: #08FDD8;
}
main .wrapper .aboutInfo .lgHeading::before {
  content: "<h1>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper .aboutInfo .lgHeading::after {
  content: "</h1>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper .aboutInfo .smHeading {
  margin: 0;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.01);
  color: #72D8FE;
}
main .wrapper .aboutInfo .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .wrapper .aboutInfo .flexContainer .personalCard {
  min-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #1A203B;
  margin: 20px 10px;
  padding-top: 10px;
  overflow: hidden;
  -webkit-box-shadow: 2px 10px 30px black;
          box-shadow: 2px 10px 30px black;
}
main .wrapper .aboutInfo .flexContainer .personalCard .bioImageContainer {
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 3px solid #72D8FE;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo {
  font-size: 0.7rem;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .introduction {
  color: #999;
  border-top: 1px dashed rgba(255, 255, 255, 0.199);
  padding: 10px 0 0 5px;
  margin: 10px 10px 5px 10px;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .details {
  color: #e42dad;
  font-weight: bold;
  padding: 10px;
  margin: 0 10px 10px 10px;
  background-color: #0e1222;
  border-radius: 10px;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .details .const {
  color: #08FDD8;
  font-weight: normal;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .details .key {
  color: #72D8FE;
  margin-left: 10px;
  font-weight: normal;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .details .value {
  color: rgb(221, 221, 221);
  font-weight: normal;
}
main .wrapper .aboutInfo .flexContainer .personalCard .personalInfo .bottomBar {
  margin: 0;
  background-color: #08FDD8;
  padding: 10px;
}
main .wrapper .aboutInfo .flexContainer .bio .textSecondary {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 0 20px;
  color: #ff5f5f;
}
main .wrapper .aboutInfo .flexContainer .bio .aboutParagraph p {
  margin: 10px;
}
main .wrapper .aboutInfo .flexContainer .bio .aboutParagraph p:nth-child(even) {
  color: white;
}
main .wrapper .aboutInfo .flexContainer .bio .aboutParagraph::before {
  content: "<p>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper .aboutInfo .flexContainer .bio .aboutParagraph::after {
  content: "</p>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}

main .wrapper .myWorks {
  margin: 20px 0;
  padding: 5px 20px;
  font-family: "Golos Text", sans-serif;
}
main .wrapper .myWorks::before {
  content: "<section>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper .myWorks::after {
  content: "</section>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper .myWorks .lgHeading {
  font-weight: normal;
}
main .wrapper .myWorks .lgHeading .textSecondary {
  color: #08FDD8;
}
main .wrapper .myWorks .lgHeading::before {
  content: "<h1>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper .myWorks .lgHeading::after {
  content: "</h1";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper .myWorks .smHeading {
  color: #72D8FE;
}
main .wrapper .myWorks .mainProjects .projectContainer {
  margin: 20px 0 40px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #11162B;
  position: relative;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}
main .wrapper .myWorks .mainProjects .projectContainer::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: -15px;
  background: rgb(255, 255, 255);
  height: 100%;
  width: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover {
  color: black;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover .projectFlex .projectDescription h2 {
  color: #0093c9;
  font-weight: bold;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover .projectFlex .projectDescription .skills {
  color: #686868;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover .projectFlex .projectDescription .projectButtons a {
  visibility: visible;
}
main .wrapper .myWorks .mainProjects .projectContainer:hover::before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: scale(60);
          transform: scale(60);
}
main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even)::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -15px;
  background-color: rgb(0, 105, 146);
  height: 100%;
  width: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even):hover .projectFlex .projectDescription h2 {
  color: #08FDD8;
}
main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even):hover .projectFlex .projectDescription .skills {
  color: white;
}
main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even):hover .projectFlex .projectDescription .projectButtons a:hover {
  color: #08FDD8;
}
main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even):hover::before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: scale(60);
          transform: scale(60);
}
main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even) .projectFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even) .projectFlex .imgContainer {
  -webkit-box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.596);
          box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.596);
}
main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even) .projectFlex .projectDescription .projectButtons a {
  float: left;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .imgContainer {
  border-radius: 10px;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.596);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.596);
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription h2 {
  color: #08FDD8;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription p {
  padding: 0 10px;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription .skills {
  font-size: 0.8rem;
  color: White;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons a {
  background-color: #1A203B;
  margin: 0 10px;
  padding: 2px 30px;
  border-radius: 10px;
  color: whitesmoke;
  float: right;
  visibility: hidden;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}
main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons a:hover {
  color: #72D8FE;
  background-color: black;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

main .wrapper #contact {
  min-height: 90vh;
  margin: 20px 0;
  padding: 5px 20px;
  font-family: "Golos Text", sans-serif;
  position: relative;
}
main .wrapper #contact::before {
  content: "<section>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper #contact::after {
  content: "</section>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
}
main .wrapper #contact h1 {
  font-weight: normal;
}
main .wrapper #contact h1::before {
  content: "<h1>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
  position: absolute;
  top: 35px;
  left: 30px;
}
main .wrapper #contact h1::after {
  content: "</h1>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
  position: relative;
  top: 20px;
  right: 50px;
}
main .wrapper #contact h1 span {
  color: #08FDD8;
}
main .wrapper #contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}
main .wrapper #contact .contactContainer .contactForm {
  width: 70%;
  height: 50vh;
  padding: 5px 20px;
  background-color: #0e1222;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.774);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.774);
}
main .wrapper #contact .contactContainer .contactForm::before {
  content: "<form>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
  position: relative;
  top: -60px;
}
main .wrapper #contact .contactContainer .contactForm::after {
  content: "</form>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
  position: relative;
  top: 10px;
}
main .wrapper #contact .contactContainer .contactForm .flexForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
}
main .wrapper #contact .contactContainer .contactForm .flexForm P {
  margin: 0;
  position: relative;
  bottom: 25px;
  color: rgba(255, 255, 255, 0.2549019608);
  font-size: 0.8rem;
}
main .wrapper #contact .contactContainer .contactForm .flexForm input, main .wrapper #contact .contactContainer .contactForm .flexForm button, main .wrapper #contact .contactContainer .contactForm .flexForm textarea {
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #08FDD8;
  color: #fff;
}
main .wrapper #contact .contactContainer .contactForm .flexForm textarea {
  height: 200px;
  resize: none;
  border: 2px solid #08FDD8;
  border-radius: 10px;
  padding: 10px;
}
main .wrapper #contact .contactContainer .contactForm .flexForm button {
  color: #B0C8DD;
  border: 1px solid #B0C8DD;
  border-radius: 10px;
  padding: 5px;
  background-color: #0e1222;
}
main .wrapper #contact .contactContainer .contactForm .flexForm button .load::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #08FDD8;
  border-radius: 50%;
  -webkit-animation: button-load-spinner 1s linear infinite;
          animation: button-load-spinner 1s linear infinite;
  visibility: hidden;
}
@-webkit-keyframes button-load-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes button-load-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
main .wrapper #contact .contactContainer .contactForm .flexForm button:hover {
  border-color: #08FDD8;
  color: #08FDD8;
  background-color: black;
}
main .wrapper #contact .contactContainer .contactForm .flexForm button:hover i {
  color: #08FDD8;
  text-shadow: 0 0 5px #B0C8DD, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 10px #00b69b, 0 0 10px #00b69b, 0 0 20px #00b69b, 0 0 20px #00b69b;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}
main .wrapper #contact .contactContainer .contactForm .flexForm button.sending .load::after {
  visibility: visible;
}
main .wrapper #contact .contactContainer .contactForm .flexForm button.sending i {
  visibility: hidden;
}
main .wrapper #contact .contactContainer .personalLinks {
  background-color: #FCA311;
  width: 30%;
  height: 55%;
  padding: 20px;
  position: relative;
  right: 60px;
  top: 30px;
  border-radius: 10px;
  -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.61);
          box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.61);
}
main .wrapper #contact .contactContainer .personalLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  width: 100%;
}
main .wrapper #contact .contactContainer .personalLinks ul li {
  width: 100%;
}
main .wrapper #contact .contactContainer .personalLinks ul li a {
  font-family: "Golos Text", sans-serif;
  color: #0e1222;
  padding: 5px 0;
}
main .wrapper #contact .contactContainer .personalLinks ul li a:hover {
  color: #08FDD8;
}
main .wrapper #contact .contactContainer .personalLinks ul li a:hover i {
  color: white;
}

footer {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 10px;
}
footer .textBody::before {
  content: "</body>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
  margin: 0 0 0 200px;
  padding: 0;
}
footer p {
  margin-bottom: 0;
}
footer p .textHTML::before {
  content: "</html>";
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(176, 200, 221, 0.2196078431);
  margin: 0 0 0 180px;
  padding: 0;
}
footer .wrapper p {
  font-family: "Golos Text", sans-serif;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: rgba(176, 200, 221, 0.5960784314);
}

/* Landscape phone to portrait tablet */
@media (max-width: 940px) {
  .wrapper {
    margin: 0;
  }
  header .menuBtn {
    background-color: rgba(14, 18, 34, 0.3490196078);
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
    position: fixed;
    z-index: 3;
    right: 20px;
    top: 35px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  header .menuBtn .btnLine {
    width: 23px;
    height: 2px;
    margin: 0 0 5px 0;
    background: #72D8FE;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  header .menuBtn.close {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 20;
  }
  header .menuBtn.close .btnLine:nth-child(1) {
    background: #ff0000;
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
    width: 20px;
  }
  header .menuBtn.close .btnLine:nth-child(2) {
    visibility: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #ff0000;
    width: 20px;
  }
  header .menuBtn.close .btnLine:nth-child(3) {
    background: #ff0000;
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
    width: 20px;
  }
  header .menuBtn.light {
    background-color: rgba(255, 255, 255, 0.322);
  }
  header .menuBtn.light .btnLine {
    background-color: black;
  }
  header .menuBtn.light.close {
    background-color: transparent;
  }
  header .sideBar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .sideBar .logo {
    margin: 0;
  }
  header .sideBar .icons {
    margin-bottom: 20px;
  }
  header .sideBar .icons a {
    margin: 0 10px;
  }
  header .sideBar.show {
    visibility: visible;
  }
  footer p .textBody::before {
    content: "</body>";
    font-family: "Mr Dafoe", cursive;
    font-size: 1rem;
    font-weight: normal;
    color: rgba(176, 200, 221, 0.2196078431);
    margin: 0 0 0 20px;
    padding: 0;
  }
  footer p .textHTML::before {
    content: "</html>";
    font-family: "Mr Dafoe", cursive;
    font-size: 1rem;
    font-weight: normal;
    color: rgba(176, 200, 221, 0.2196078431);
    margin: 0;
    padding: 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  main .aboutInfo .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .wrapper #contact #contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 90vh;
  }
  main .wrapper #contact #contactContainer .contactForm {
    width: 90%;
    min-height: 55vh;
    padding: 10px 20px;
    margin-top: 20px;
  }
  main .wrapper #contact #contactContainer .contactForm::before {
    position: relative;
    top: -40px;
  }
  main .wrapper #contact #contactContainer .contactForm::after {
    position: relative;
    top: 250px;
  }
  main .wrapper #contact #contactContainer .contactForm .flexForm {
    width: 100%;
  }
  main .wrapper #contact #contactContainer .contactForm .flexForm input, main .wrapper #contact #contactContainer .contactForm .flexForm button, main .wrapper #contact #contactContainer .contactForm .flexForm textarea {
    width: 100%;
  }
  main .wrapper #contact #contactContainer .personalLinks {
    background-color: #FCA311;
    width: 80%;
    height: 40%;
    position: relative;
    right: 0;
    top: -40px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 750px) {
  main .wrapper #works .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons a {
    margin: 5px;
    text-align: center;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  main .home .homeContent {
    margin-top: 80px;
  }
  main .home .homeContent .text .lgHeading p {
    line-height: 70px;
  }
  main .home .homeContent .text .lgHeading .letter {
    margin-top: 10px;
  }
  main .home .homeContent .text .lgHeading .textSecondary {
    margin: 0;
  }
  main .wrapper .aboutInfo h3.smHeading {
    font-size: 1rem;
  }
  main .wrapper #works .mainProjects .projectContainer {
    height: 90dvh;
  }
  main .wrapper #works .mainProjects .projectContainer::before {
    content: "";
    position: absolute;
    top: calc(90dvh - 20px);
    right: 0;
    background: rgb(255, 255, 255);
    height: 25px;
    width: 100%;
  }
  main .wrapper #works .mainProjects .projectContainer:hover {
    color: black;
  }
  main .wrapper #works .mainProjects .projectContainer:hover .projectFlex .projectDescription h2 {
    color: #0093c9;
    font-weight: bold;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  main .wrapper #works .mainProjects .projectContainer:hover .projectFlex .projectDescription .skills {
    color: #686868;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  main .wrapper #works .mainProjects .projectContainer:hover .projectFlex .projectDescription .projectButtons a {
    visibility: visible;
  }
  main .wrapper #works .mainProjects .projectContainer:hover::before {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    -webkit-transform: scale(60);
            transform: scale(60);
  }
  main .wrapper #works .mainProjects .projectContainer:nth-child(even)::before {
    content: "";
    position: absolute;
    top: calc(90dvh - 20px);
    left: 0;
    height: 25px;
    width: 100%;
    background: rgb(0, 105, 146);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }
  main .wrapper #works .mainProjects .projectContainer:nth-child(even):hover .projectFlex .projectDescription h2 {
    color: #08FDD8;
  }
  main .wrapper #works .mainProjects .projectContainer:nth-child(even):hover .projectFlex .projectDescription .skills {
    color: white;
  }
  main .wrapper #works .mainProjects .projectContainer:nth-child(even):hover .projectFlex .projectDescription .projectButtons a:hover {
    color: #08FDD8;
  }
  main .wrapper #works .mainProjects .projectContainer:nth-child(even):hover::before {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    -webkit-transform: scale(60);
            transform: scale(60);
  }
  main .wrapper #works .mainProjects .projectContainer:nth-child(even) .projectFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex .imgContainer {
    border-radius: 10px;
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.596);
            box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.596);
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex .projectDescription {
    margin: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    padding-bottom: 20px;
    font-size: 0.8rem;
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex .projectDescription h2 {
    margin: 20px 0;
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex .projectDescription p {
    padding: 0 10px;
    margin: 0;
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex .projectDescription .skills {
    font-size: 0.8rem;
    margin: 0;
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons a {
    background-color: #1A203B;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    color: whitesmoke;
    visibility: visible;
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
    font-size: 0.8rem;
    text-align: center;
  }
  main .wrapper #works .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons a:hover {
    color: #72D8FE;
    background-color: black;
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
  }
  main .wrapper #contact {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 0.8rem;
  }
  main .wrapper #contact #contactContainer {
    margin-bottom: 30px;
  }
  main .wrapper #contact #contactContainer .contactForm {
    padding-bottom: 50px;
  }
  main .wrapper #contact #contactContainer .contactForm::after {
    position: relative;
    top: 255px;
  }
  main .wrapper #contact #contactContainer .personalLinks {
    position: relative;
    top: -30px;
    margin-bottom: 20px;
  }
  footer .wrapper p {
    font-size: 0.7rem;
  }
}
body.light {
  background-color: #EBEBD3;
}
body.light header .sideBar {
  background-color: #083D77;
}
body.light header .sideBar .logo .switchText {
  color: white;
}
body.light main {
  color: black;
}
body.light main #home p .textHTML::before, body.light main #home p .textBody::before {
  color: rgba(0, 0, 0, 0.13);
}
body.light main #home .homeContent .text::before, body.light main #home .homeContent .text::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light main #home .homeContent .text .lgHeading p {
  color: #7760fa;
}
body.light main #home .homeContent .text .lgHeading p span {
  color: #2876f8;
}
body.light main #home .homeContent .text .lgHeading .letter {
  color: #2876f8;
}
body.light main #home .homeContent .text .lgHeading .letter.textSecondary {
  color: #ff5f5f;
}
body.light main #home .homeContent .styleHTML::before, body.light main #home .homeContent .styleHTML::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light main #home .homeContent .styleHTML .smHeading {
  color: #2F9C95;
}
body.light main #home .homeContent .styleHTML .homeSkills {
  color: #868586;
}
body.light main .wrapper .aboutInfo::before, body.light main .wrapper .aboutInfo::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light main .wrapper .aboutInfo .lgHeading {
  color: #2876f8;
}
body.light main .wrapper .aboutInfo .lgHeading .textSecondary {
  color: #ff5f5f;
}
body.light main .wrapper .aboutInfo .lgHeading::before, body.light main .wrapper .aboutInfo .lgHeading::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light main .wrapper .aboutInfo .flexContainer .personalCard {
  background-color: #083D77;
}
body.light main .wrapper .aboutInfo .flexContainer .bio .textSecondary {
  color: #7760fa;
}
body.light main .wrapper .aboutInfo .flexContainer .bio .aboutParagraph::before, body.light main .wrapper .aboutInfo .flexContainer .bio .aboutParagraph::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light main .wrapper .aboutInfo .flexContainer .bio .aboutParagraph p:nth-child(even) {
  color: #023770;
}
body.light main .wrapper .myWorks::before, body.light main .wrapper .myWorks::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light main .wrapper .myWorks .lgHeading {
  color: #2876f8;
}
body.light main .wrapper .myWorks .lgHeading::before, body.light main .wrapper .myWorks .lgHeading::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light main .wrapper .myWorks .lgHeading .textSecondary {
  color: #ff5f5f;
}
body.light main .wrapper .myWorks .smHeading {
  color: #7760fa;
}
body.light main .wrapper .myWorks .mainProjects .projectContainer {
  background-color: #EBEBD3;
}
body.light main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even)::before {
  background-color: #083D77;
}
body.light main .wrapper .myWorks .mainProjects .projectContainer:nth-child(even):hover {
  color: #B0C8DD;
}
body.light main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription h2 {
  color: #2876f8;
}
body.light main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription .skills {
  color: #868586;
}
body.light main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons a {
  background-color: black;
}
body.light main .wrapper .myWorks .mainProjects .projectContainer .projectFlex .projectDescription .projectButtons a:hover {
  color: #2876f8;
}
body.light main .wrapper #contact::before, body.light main .wrapper #contact::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light main .wrapper #contact h1::before, body.light main .wrapper #contact h1::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light main .wrapper #contact .contactContainer .contactForm::before, body.light main .wrapper #contact .contactContainer .contactForm::after {
  color: rgba(0, 0, 0, 0.13);
}
body.light .wrapper #contact h1 {
  color: #2876f8;
}
body.light .wrapper #contact h1 span {
  color: #ff5f5f;
}
body.light .wrapper #contact .contactContainer .contactForm {
  background-color: #083D77;
}
body.light .wrapper #contact .contactContainer .contactForm .flexForm button {
  background-color: #083D77;
}
body.light footer .textBody::before {
  color: rgba(0, 0, 0, 0.13);
}
body.light footer p .textHTML::before {
  color: rgba(0, 0, 0, 0.13);
}
body.light footer .wrapper p {
  color: rgba(0, 0, 0, 0.13);
}